@model List<Products>


@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
@foreach(Products prod in Model)
{
    <a href="/Product/Drink?drinkid=@prod.Product_id">@prod.Product_Name @prod.Product_Description</a> <br />
}

