@model List<Products>
@{
    ViewData["Title"] = "InventoryControl";
}

<h2>InventoryControl</h2>

<a href="/Admin/CreateItem">Add a new product</a>
<br /><br />

<h4>List of all current Products</h4>
<table>
    @foreach (Products prod in Model)
    {
    <tr>
        <td>@prod.Product_Name</td>
        <td>@prod.Product_Description</td>
        <td>@prod.Product_Price</td>
        <td><a href="Admin/Edit?pid=@prod.Product_id">Edit</a></td>
        <td><a href="Admin/Remove?pid=@prod.Product_id">Remove</a></td>
    </tr>
    }
        
</table>
