@model CoreCoffee.Models.Order

@{
    ViewBag.Title = "Delivery";
}

<h2>Delivery?</h2>
<form method="post" action="/Home/Checkout">
    <input type="hidden" id="OrderNumber" name="OrderNumber" value="@Model.ID" />
    <input type="radio" id="Delivery" name="Delivery" value="Delivery" />
    <label for="Delivery">Yes</label><br />
    <input type="radio" id="Pickup" name="Delivery" value="Pickup" />
    <label for="Pickup">No</label><br />
    <input type="submit" value="Check out!" />
</form>


