
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form method="post" action="/Home/NewUser">
    <table>
        <tr>
            <td><label for="txtfirstName">First Name: </label>
            <td><input type="text" name="firstName" id="txtfirstName" />
        <tr>
            <td><label for="txtlastName">Last Name: </label>
            <td><input type="text" name="lastName" id="txtlastName" />
        <tr>
            <td><label for="txteMail">E-Mail: </label>
            <td><input type="email" name="eMail" id="txteMail" />
        <tr>
            <td><label for="txtphone">Phone Number: </label>
            <td><input type="text" name="phone" id="txtphone" />
        <tr>
            <td><label for="txtpass1">Password: </label>
            <td><input type="password" name="pass1" id="txtpass1" />
            <td>@ViewBag.passStatus
        <tr>
            <td><label for="txtpass2">Re-type Password: </label>
            <td><input type="password" name="pass2" id="txtpass2" />
            <td>@ViewBag.matchStatus
    </table>
    <input type="submit" value="Register" />


</form>

